@model MVC_proj.ViewModels.Vaccines.EditVM
@using DA.Entities
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        <div style="padding-top:1em">
            <h1 style="display:inline; color:#4d4e4f; margin-top:1em; padding: 0.3em;background-color:rgba(146, 108, 108, 0.55)">Pet Adoption Portal</h1>
            <div style="float: right; margin-right:2em; margin-top:1em;">
                <a href="@Url.Action("View_Profile", "Users")" style="text-decoration:none;  padding:0.3em; font-size:1.3em; color: #4d4e4f;">
                    My Profile
                </a>
                <a href="@Url.Action("Logout", "Home")" style="text-decoration:none; padding:0.3em;font-size:1.3em; color: #4d4e4f;">
                    Logout
                </a>
            </div>
        </div>
        <nav class="menu" style="height:1.3em ;background-color: #4d4e4f; font-size:2.4vw">
            <ul style="list-style:none; height:70px">
                <li style="float:left;">
                    <span style="position:center;">
                        <a style="text-decoration:solid; color:white; margin-left:2em" href="/Users/Index">Home</a>
                    </span>
                </li>
                <li style="float:left;">
                    <span style="position:center;">
                        <a style="text-decoration:solid; color:white; margin-left:7em" href="/Pet/Index">Pets</a>
                    </span>
                </li>
                <li style="float:left;">
                    <span style="position:center;">
                        <a style="text-decoration:solid; color:white; margin-left:7em" href="@Url.Action("Index", "Vaccine")">Vaccines</a>
                    </span>
                </li>
            </ul>
        </nav>
        <table>
            <tr>
                <td>
                    @using (Html.BeginForm("Edit", "Vaccine", FormMethod.Post))
                    {
                        <fieldset>
                            <table>
                                <tr>
                                    <td>@Html.LabelFor(model => model.Name)</td>
                                    <td>@Html.TextBoxFor(model => model.Name)</td>
                            </table>
                            <input type="submit" value="Save" />&nbsp;
                            <a href="@Url.Action("Index", "Vaccine")">Cancel</a>
                        </fieldset>
                    }
                </td>
            </tr>
        </table>
    </div>
</body>
</html>

